$background: #ece8dd;
$background-trans: rgb(236, 232, 221, 0.7);
$water: #579bb1;
$water-trans: rgb(87, 155, 177, 0.7);;
$dark-water: #3a94b2;
// $sand: #e1d7c6;
$sand: #dacfbc;
$dark-sand: rgba(144, 136, 123, 0.7);
$light: #f8f4ea;
$shadow: #c4a78e;