$background: #ece8dd;
$background-trans: rgb(236, 232, 221, 0.7);
$water: #579bb1;
$water-trans: rgb(87, 155, 177, 0.7);
$water-light: rgba(140, 213, 237, 0.878);
$dark-water: #007da7;
// $sand: #e1d7c6;
$sand: #dacfbc;
$dark-sand: rgba(148, 133, 109, 0.7);
$brown: rgba(111, 79, 28, 0.737);
$light: #f8f4ea;
$shadow: #c4a78e;
$dark-brown: rgb(66, 44, 8);
$semi-brown: rgba(106, 83, 47, 0.664);