@use "./variables";

.categories {
  width: 100%;
  text-align: center;
  font-family: "Itim";
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: auto;
    justify-content: space-around;
    // border: 2px solid black;
    padding: 5px;
    li {
      a {
        display: block;
        color: variables.$dark-water;
        background-color: variables.$sand;
        // border: 2px solid black;
      }
      a:visited {
        color: variables.$dark-water;
      }
    }
  }
}

.categories__hobby {
  ul {
    width: 700px;
    li {
      width: 150px;
    }
  }
}

.categories__exp {
  ul {
    width: 800px;
    li {
      width: 150px;
    }
  }
}

.categories__skills {
  ul {
    width: 550px;
    li {
      width: 150px;
    }
  }
}

.display {
  // border: 2px solid black;
  margin-top: 0px;
  height: 100%;
  padding: 5px;
}

.display__skills {
  height: calc(100% - 36px);
  margin-top: 5px;
}

.display__exp {
  height: calc(100% - 36px);
  margin-top: 5px;
}

.display__hobby {
  height: calc(100% - 36px);
  margin-top: 5px;
}

.dialog {
  height: 40px;
  background-color: variables.$sand;
  position: fixed;
  line-height: 40px;
  z-index: 1;
  color: variables.$dark-water;
  font-weight: 600;
  div {
    z-index: 2;
  }
  p {
    text-align: center;
  }
  button {
    background-color: black;
    opacity: 0.2;
    border: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
}

.dialog__phone {
  width: 130px;
  left: 25vw;
  top: 6.5vh;
}

.dialog__mail {
  width: 250px;
  left: 25vw;
  top: 6.5vh;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: auto;
  justify-content: space-around;
  // border: 2px solid black;
  padding: 5px;
  height: 100%;
  // li {
  //   // border: 2px solid black;
  // }
}

@keyframes imageSkills {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.image {
  position: fixed;
  top: 50vh;
  right: 24vw;
  transform: translate(50%, -50%);
  img {
    box-shadow: 15px 15px 15px variables.$shadow;
  }
}

.imageIt1 {
  animation: imageSkills 15s 0s normal infinite;
  opacity: 0;
  img {
    height: 45vh;
  }
}

.imageIt2 {
  animation: imageSkills 15s 7.5s normal infinite;
  opacity: 0;
  img {
    height: 25vh;
  }
}
