@use "./variables";
@use "./images";

.categories {
  width: 100%;
  text-align: center;
  font-family: "Cabin";
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: auto;
    justify-content: space-around;
    // border: 2px solid black;
    padding: 0px 5px 10px 5px;
    li {
      a {
        height: 30px;
        line-height: 30px;
        display: block;
        color: variables.$light;
        background-color: variables.$dark-sand;
        // border: 2px solid black;
        transition-duration: 0.2s;
        border-radius: 5px;
      }
      a:visited {
        color: variables.$light;
      }
      a:hover {
        color: variables.$water-light;
      }
    }
  }
}

.categories__hobby {
  ul {
    width: 700px;
    li {
      width: 150px;
    }
  }
}

.categories__exp {
  ul {
    width: 800px;
    li {
      width: 150px;
    }
  }
}

.categories__skills {
  ul {
    width: 550px;
    li {
      width: 150px;
    }
  }
}

.display {
  // border: 2px solid black;
  margin-top: 0px;
  height: 100%;
  padding: 5px;
}

.display__skills {
  height: calc(100% - 36px);
  margin-top: 5px;
}

.display__exp {
  height: calc(100% - 36px);
  margin-top: 5px;
}

.display__hobby {
  height: calc(100% - 36px);
  margin-top: 5px;
}

.dialog {
  height: 40px;
  background-color: variables.$sand;
  position: fixed;
  line-height: 40px;
  z-index: 1;
  color: variables.$dark-water;
  font-weight: 600;
  div {
    z-index: 2;
  }
  p {
    text-align: center;
  }
  button {
    background-color: black;
    opacity: 0.2;
    border: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
}

.dialog__phone {
  width: 130px;
  left: 25vw;
  top: 6.5vh;
}

.dialog__mail {
  width: 250px;
  left: 25vw;
  top: 6.5vh;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: auto;
  justify-content: space-around;
  // border: 2px solid black;
  padding: 5px;
  height: 100%;
  // li {
  //   // border: 2px solid black;
  // }
}

iframe {
  display: none;
}

.frame {
  display: block;
  width: 80vw;
  height: 70vh;
  position: fixed;
  top: 20vh;
  left: 5vw;
}

.chapter {
  color: variables.$dark-sand;
  font-weight: 600;
  margin-left: 20px;
  font-size: 16px;
}

#mail-form {
  width: 100%;
  height: 100%;

  label {
    width: 200px;
    display: inline-block;
    // border: 2px solid black;
  }

  li:nth-of-type(4) {
    position: relative;
    label {
      height: 200px;
    }
  }

  input {
    width: 300px;
    font-family: "Roboto Mono";
    border: 2px solid variables.$dark-sand;
    border-radius: 5px;
  }

  li:nth-of-type(3) {
    input {
      width: 600px;
    }
  }

  textarea {
    min-height: 200px;
    max-height: 200px;
    min-width: 600px;
    max-width: 900px;
    font-family: "Roboto Mono";
    display: inline-block;
    position: absolute;
    border: 2px solid variables.$dark-sand;
    border-radius: 5px;
  }

  button {
    height: 30px;
    line-height: 30px;
    display: inline-block;
    color: variables.$light;
    background-color: variables.$dark-sand;
    border: none;
    width: 170px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Cabin", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
  }

  li:nth-of-type(5) {
    p {
      display: inline-block;
      padding-left: 30px;
    }
  }

  li:nth-of-type(6) {
    height: 30px;
    p {
      display: inline-block;
      padding-left: 30px;
    }
  }
}
