@use "./variables";

.header {
  // width: calc(100vw - 40px);
  width: 100vw;
  height: 15vh;
  background-color: variables.$water-trans;
  // margin: 0px 0px 0px 0px;
  position: relative;
}

.titles {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
  h1 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1;
  }
  h2 {
    font-size: 26px;
    margin-left: 14vw;
  }
  font-family: "Cabin", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: variables.$light;
  transition-duration: 0.1s;
  &:hover {
    scale: 1.03;
  }
  a {
    transition-duration: 0.1s;
  }
  a:hover {
    color: variables.$brown;
    
    h1 {
      font-size: 37px;
      transition-duration: 0.1s;
    }

    h2 {
      font-size: 27px;
      transition-duration: 0.1s;
    }
  }
}

.social {
  // width: 200px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 100px;
  transform: translateY(-50%);
  background-color: transparent;
  text-align: center;
  font-size: 28px;
  line-height: 56px;
  // border: 2px solid black;
  a {
    transition-duration: 0.2s;
  }
  a:hover, button:hover {
    color: variables.$brown;

  }
  button {
    font-size: 28px;
    color: variables.$light;
    background-color: transparent;
    border: 0;
    transition-duration: 0.2s;
  }
  
  * {
    margin: 0px 2px;
  }
}
