@use "./variables";

@media (min-width: 1200px) {

.header {
  // width: calc(100vw - 40px);
  width: 100vw;
  height: 15vh;
  background-color: variables.$water-trans;
  // margin: 0px 0px 0px 0px;
  position: relative;
}

.titles {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
  h1 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1;
    transition-duration: 0.3s;
  }
  h2 {
    font-size: 26px;
    margin-left: 14vw;
    transition-duration: 0.3s;
  }
  font-family: "Cabin", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: variables.$light;

  a:hover {
    color: variables.$brown;
    h2 {
      
      margin-left: 3vw;
    }

  }
}

.social {
  // width: 200px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 5vw;
  transform: translateY(-50%);
  background-color: transparent;
  text-align: center;
  font-size: 28px;
  line-height: 56px;
  // border: 2px solid black;
  a {
    transition-duration: 0.2s;
  }
  a:hover, button:hover {
    color: variables.$brown;

  }
  button {
    font-size: 28px;
    color: variables.$light;
    background-color: transparent;
    border: 0;
    transition-duration: 0.2s;
  }
  
  * {
    margin: 0px 2px;
  }
}

}

@media (min-width: 1700px) {

  .titles {
    h1 {
      font-size: 55px;
    }
    h2 {
      font-size: 35px;
      
    }
  }
  .social {
    font-size: 40px;
    height: 40px;
    button {
      font-size: 40px;
    }
    * {
      margin: 0px 4px;
    }
  
  }

}