@use "./variables";

@media (min-width: 1200px) {

@keyframes oneImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes twoImages {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes threeImages {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  23.3% {
    opacity: 1;
  }
  33.3% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes threeImagesMove {
  0% {
    opacity: 0;
    left: 45vw;
  }
  10% {
    opacity: 1;
    left: 45vw;
  }
  23.3% {
    opacity: 1;
    left: 20vw;
  }

  63% {
    opacity: 1;
    left: 20vw;
  }

  73% {
    opacity: 0;
    left: 20vw;
  }
  100% {
    opacity: 0;
  }
}

.image {
  position: fixed;
  top: 53vh;
  right: 24vw;
  transform: translate(50%, -50%);
  opacity: 0;
  img {
    box-shadow: 15px 15px 15px variables.$shadow;
    height: 45vh;
    opacity: 0.8;
    border-radius: 10px;
  }
}

.twoFirst {
  animation: twoImages 15s 0s normal infinite;
}

.twoSecond {
  animation: twoImages 15s 7.5s normal infinite;
}

.threeFirst {
  animation: threeImages 15s 0s normal infinite;
}

.threeSecond {
  animation: threeImages 15s 5s normal infinite;
}

.threeThird {
  animation: threeImages 15s 10s normal infinite;
}

.single {
 opacity: 1;
  animation: oneImage 2s 0s normal 1;
}

.threeFirstMove {
  animation: threeImagesMove 15s 0s normal 1,
    threeImages 15s 21s normal infinite;
  left: 20vw;
  right: auto;
  transform: translate(-50%, -50%);
}

.threeSecondMove {
  animation: threeImages 15s 11s normal infinite;
  left: 20vw;
  right: auto;
  transform: translate(-50%, -50%);
}

.threeThirdMove {
  animation: threeImages 15s 16s normal infinite;
  left: 20vw;
  right: auto;
  transform: translate(-50%, -50%);
}
}

@media (max-width: 1300px) and (min-height: 900px)
 {
  .image {
    top: 43vh;
    right: 26vw;
    img {
     
      height: 30vh;
    
    }
  }
 }