@use "./variables";

@keyframes twoImages {
    0% {
      opacity: 0;
    }
    15% {
      opacity: 1;
    }
    35% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes threeImages {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    23.3% {
      opacity: 1;
    }
    33.3% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }


  .image {
    position: fixed;
    top: 53vh;
    right: 24vw;
    transform: translate(50%, -50%);
    opacity: 0;
    img {
      box-shadow: 15px 15px 15px variables.$shadow;
      height: 45vh;
      
    }
  }
  
  // .imageIt1 {
  //   animation: twoImages 15s 0s normal infinite;
    
  // }
  
  // .imageIt2 {
  //   animation: twoImages 15s 7.5s normal infinite;
   
  // }

  // .imageGen1 {
  //   animation: threeImages 15s 0s normal infinite;
   
  // }

  // .imageGen2 {
  //   animation: threeImages 15s 5s normal infinite;
 
  // }

  // .imageGen3 {
  //   animation: threeImages 15s 10s normal infinite;
   
  // }

  // .imageSGreen1 {
  //   animation: twoImages 15s 0s normal infinite;
 
  // }

  // .imageSGreen2 {
  //   animation: twoImages 15s 7.5s normal infinite;
  
  // }


  // .imageArv1 {
  //   animation: threeImages 15s 0s normal infinite;
   
  // }

  // .imageArv2 {
  //   animation: threeImages 15s 5s normal infinite;
   
  // }

  // .imageArv3 {
  //   animation: threeImages 15s 10s normal infinite;
   
  // }

  // .imageGar1 {
  //   animation: threeImages 15s 0s normal infinite;
  
  // }

  // .imageGar2 {
  //   animation: threeImages 15s 5s normal infinite;
  
  // }

  // .imageGar3 {
  //   animation: threeImages 15s 10s normal infinite;
  
  // }

  // .imageAlp1 {
  //   animation: threeImages 15s 0s normal infinite;
   
  // }

  // .imageAlp2 {
  //   animation: threeImages 15s 5s normal infinite;
   
  // }

  // .imageAlp3 {
  //   animation: threeImages 15s 10s normal infinite;
   
  // }

  // .imageFor1 {
  //   animation: threeImages 15s 0s normal infinite;
   
  // }

  // .imageFor2 {
  //   animation: threeImages 15s 5s normal infinite;
   
  // }

  // .imageFor3 {
  //   animation: threeImages 15s 10s normal infinite;
   
  // }

  .twoFirst {
    animation: twoImages 15s 0s normal infinite;
  }

  .twoSecond {
    animation: twoImages 15s 7.5s normal infinite;
  }

  .threeFirst {
    animation: threeImages 15s 0s normal infinite;
  }

  .threeSecond {
    animation: threeImages 15s 5s normal infinite;
  }

  .threeThird {
    animation: threeImages 15s 10s normal infinite;
  }