@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&family=Roboto+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
  color: variables.$dark-water;
  // background-color: variables.$background;
  // background-image: url("http://localhost:8080/public/img/sand1.jpg");
  background-image: url("https://e-cv-mauve.vercel.app/public/img/sand1.jpg");
  background-size: cover;
  font-size: 15px;
}

.link {
  color: variables.$light;
  text-decoration: none;
  &:visited {
    color: variables.$light;
  }
}

// body div:nth-child(3) div:nth-child(4) {
//   width: 0 !important;
//   height: 0 !important;
//   iframe {
//     transform: translateY(-40%) !important;
    
//   }
// }
