@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&family=Roboto+Mono:wght@400;700&display=swap");

@media (min-width: 1200px) {
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
  color: variables.$dark-water;
  font-size: 15px;
  background-color: variables.$background-trans;
}

.link {
  color: variables.$light;
  text-decoration: none;
  &:visited {
    color: variables.$light;
  }
}
}

@media (min-width: 1700px) {
  body {
    font-size: 20px;
  }
}

