@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&family=Roboto+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
  color: variables.$dark-water;
  font-size: 15px;
  background-color: variables.$background-trans;
}

.link {
  color: variables.$light;
  text-decoration: none;
  &:visited {
    color: variables.$light;
  }
}

.background {
  width: 100vw;
  height: 100vh;
  // background-image: url("http://localhost:8080/public/img/sand1.jpg");
  // background-image: url("https://e-cv-mauve.vercel.app/public/img/sand1.jpg");
  background-image: url("https://dailydev.pl/public/img/sand1.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}
