@use './variables';

@media (min-width: 1200px) {
.main {
  width: calc(88vw - 60px);
  height: calc(75vh - 40px);
  // background-color: variables.$background-trans;
  margin: 20px 0px 20px 20px;
  padding: 10px 20px 20px 20px;
  // border: 2px solid black;
  border-radius: 10px;
}

.aside {
  width: 12vw;
  height: 75vh;
  background-color: transparent;
  margin: 20px 20px;
  position: absolute;
  top: 15vh;
  left: calc(88vw - 40px);
  font-family: "Cabin";
  font-size: 16px;
  font-weight: 600;
  // padding: 5px 0px;
  // border: 2px solid black;
}

.aside__menu {
  height: calc(100% - 40px);
 

  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    li {
      text-align: center;
      a {
        width: 170px;
        text-decoration: none;
        text-align: center;
        display: block;
        margin: auto;
        padding: 15px 0;
        // border: 2px solid black;
        color: variables.$light;
        background-color: variables.$water-trans;
        transition-duration: 0.2s;
        border-radius: 10px;
      }
      a:visited {
        color: variables.$light;
      }

      a:hover {
        color: variables.$brown;
        

      }
    }
    text-transform: uppercase;
  }
}

.background {
  width: 100vw;
  height: 100vh;
  // background-image: url("http://localhost:8080/public/img/sand12.jpg");
  // background-image: url("https://e-cv-mauve.vercel.app/public/img/sand1.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
  transition-duration: 0.2s;
}

}

@media (max-width: 1300px) and (min-height: 900px)

{

  .aside {

     left: calc(88vw - 60px);
  }
  
}

@media (min-width: 1700px) {
  .aside {
    font-size: 20px;
    margin: 20px 5px;
    
    
  }

  .aside__menu {
    height: calc(100% - 40px);
    ul {
      li {
        a {
          width: 220px;
          padding: 15px 0px;
        }
      }
    }
  }
}

