@use './variables';

.main {
  width: calc(100vw - 235px);
  height: calc(80vh - 80px);
  background-color: variables.$background-trans;
  margin: 20px;
  padding: 10px 20px 20px 20px;
}

.aside {
  width: 175px;
  height: calc(80vh - 80px);
  background-color: variables.$background-trans;
  margin: 20px;
  position: absolute;
  top: calc(13vh + 20px);
  left: calc(100vw - 215px);
  font-family: "Itim";
}

.aside__menu {
  height: 100%;
  font-size: 15px;
  font-weight: 400;

  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    li {
      text-align: center;
      a {
        width: 150px;
        text-decoration: none;
        text-align: center;
        display: block;
        margin: auto;
        padding: 10px 0;
        // border: 2px solid black;
        color: variables.$dark-water;
        background-color: variables.$sand;
      }
      a:visited {
        color: variables.$dark-water;
      }
    }
    text-transform: uppercase;
  }
}